.create-activity-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
}

.create-activity-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.create-activity-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create-activity-form label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.create-activity-form input,
.create-activity-form select,
.create-activity-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 16px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.submit-btn {
  padding: 14px;
  background: #ACEB6688;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background: #9AD65688;
}
